<body>

<p style="color: green"><%= notice %></p>

<h1>Quotes</h1>


<h1>What has Middle Earth been saying? </h1>

<div class="rando-quote">
<%= @quotes_text %>
<%= @author %>
<div>


<div class="main-ring">
<img id="image" class="rotate" src="<%= asset_path('ring2.png') %>" >
</div>
<br/> 
<div class="generate-button">
<%= link_to "Generate Quote!", root_path, class: 'btn btn-lg btn-primary' %>
</div>
<br/>
<br/>


</body>

@quotes