<body class= "B-body">
<main class="quote-id">

<div class = "show-page">
  <div class="show-quote"
      <%= render @quote %>
  </div>
  <br>
  <div class = "show-icons"> 
  <%= link_to "Edit Quote", edit_quote_path(@quote), class: "edit-icon" %> 
  <%= button_to "Delete Quote ", @quote, class: "btn btn-outline-danger", method: :delete %>
  <%= link_to "Back to Quotes", quotes_list_path, class: "back-icon" %>
  </div>
    </div>
      <p class= "create-notice" ><%= notice %></p>
  </div>

<br>
<br>
<br>
<%= image_tag "walk2.png", class: "walk-pic" %>
</main> 
</body>
