<h1>Sign In </h1>

<div class="main-ring">
<img id="image" class="rotate3" src="<%= asset_path('ring2.png') %>" >
  <div>
    <%= form_with url: sign_in_path do |f| %>

      <%= f.label :Username %>
      <%= f.text_field :user_name %>

      <%= f.label :Email %>
      <%= f.text_field :email %>

      <%= f.label :Password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in" %>
    <% end %>
  </div>
</div>
    