
    <tr>
    <td>
      <%= image_tag product.image.tiny %>
    </td>
    <td>
      <h4><%= product.name %></h4>
      <br>
      <p><%= product.description %></p>
    </td>
    <td>
      <%= product.category.name %>
    </td>
    <td>
      <%= humanized_money_with_symbol product.price %>
    </td>
    <td>
      <%= product.quantity %>
    </td>
    <td>
      <%= link_to fa_icon('trash'), [:admin, product], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    </td>
  </tr>



  <div class="center">
  <h1>Create a Auote</h1>
  <form>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Quote</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>AUthor</span>
    </div>
    <div class="inputbox">
      <input type="button" value="submit">
    </div>
  </form>
</div>




<div class="list-quotes">

<% @quotes.each do |quote,index| %>


  <div id="<%= dom_id quote %>">
<p>
  <%= quote.quote_content %>
</p>
<p>
  <%= quote.quote_author %>
</p>

</div>
  
  <p class= "show-this-quote"> 
    <%= link_to "Edit Quote", quote %>
   
  </p>
  <br>

<% end %>
</div>

</main> 

