<h1>Registration</h1>

<div class="main-ring">
<img id="image" class="rotate" src="<%= asset_path('ring2.png') %>" >
  <div class="centered">
    
    <tr>
      <%= form_with model: @user, url: sign_up_path do |f|  %>
        
        <div>
        <%= f.label :username, style: "display: block" %>
        <%= f.text_field :name %>
        </div>
        
        <div>
        <%= f.label :email, style: "display: block" %>
        <%= f.text_field :email %>
        </div>

        <div>
        <%= f.label :password, style: "display: block" %>
        <%= f.password_field :password %>
        </div>

        <div>
        <%= f.label :password_confirmation, style: "display: block" %>
        <%= f.password_field :password_confirmation %>
        </div>
      <br>  
        <div>
        <%= f.submit "Sign Up" %>
        </div>

      <% end %>
    <%= render "layouts/flash" %>
    </tr>
    
  </div>  

</div>

