

<body>


<%= link_to "Bilbo Bagen", quotes_list_bilbo_path  %>
<%= link_to "Aragorn", quotes_list_aragorn_path %>
<%= link_to "Sauron", quotes_list_sauron_path %>
<%= link_to "Gandalf", quotes_list_gandalf_path %>
<%= link_to "Gimili", quotes_list_gimili_path %>



<div >Refine quotes by character:
<form>
  <select name="Character">
    <option value=""></option>
    <option value="Aragorn">Aragorn</option>
    <option value="Bilbo" class= "Bilbo">Bilbo</option>
    <option value="Boromir">Boromir</option>
    <option value="Celeborn">Celeborn</option>
    <option value="Elrond">Elrond</option>
  </select>
</form>
</div>



<div>
<% @bilboQuotes.each do |quote,index| %>

  <div id="<%= dom_id quote %>">
  <p>
    <strong>Quote content:</strong>
    <%= quote.quote_content %>
  </p>

  <p>
    <strong>Quote author:</strong>
    <%= quote.quote_author %>
  </p>
 
</div>
 <% end %>

<br>

Testing
<br>
Testing
<br>
Testing
<br>
Testing
<br>
Testing
<br>
Testing

<br>




<div id="quotes">
  <% @quotes.each do |quote,index| %>
    <div id="<%= dom_id quote %>">
  <p>
    <strong>Quote content:</strong>
    <%= quote.quote_content %>
  </p>

  <p>
    <strong>Quote author:</strong>
    <%= quote.quote_author %>
  </p>

  <p>
    <strong>Quote image:</strong>
    <%= quote.quote_image %>
  </p>

</div>

    <p> 
      <%= link_to "Show this quote", quote %>
    </p>
  <% end %>


<%= link_to "New quote", new_quote_path %>




</body>
