<%= javascript_include_tag('clipboard.js') %>

<body class= "main-pages">

<main class="main-page">

<h1>What's this all about?</h1>

<%# <%= image_tag("ring.png", width: '400px') %>

<div class="about">
  <p> The Lord of the Quotes is a educational project as part of the<br> Lighthouse Labs Web Development and Coding bootcamp. <br>Taking our inspiration from a famous quote from the <i>Lord of the Rings</i> trilogy,<br> we present our own take on this as below: </p>
</div>


<div class="main-ring">
  <div class="container">
  <img id="image" class="rotate2" src="<%= asset_path("ring2.png") %>" >
    <div class="bottom-left"></div>
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-right">Current Weather in<br> <strong>Middle Earth</strong><br>
      <%= @weather_output['weather'][0]['description'].titlecase %> <br> <%= @weather_output['main']['temp'] %> &#8451
    </div>
    <div class="centered"> <span class="quote">"One Site to Quote them all, <br>one Database to Find them, <br>one API to Bring them all, <br>and to the Client Render them!"</span>
    <button class="btn-clipboard" onclick="copyToClipboard()" data-original-title="Copy to clipboard">Copy</button>
    </div>
  </div> 
</div>
<br>
<br>
<%# <div class="about-button"> <%= link_to "Main Page", root_path, class: 'btn btn-lg btn-primary'</div> %>
<div class="about-button" style="color:white" > <%= link_to "Return to Main", root_path, class: 'btn btn-lg btn-transparent' %></div>
<!-- Toast start -->
<div class="toast" id="toasty" style="position: absolute; top: 50%; right: 50%; transform: translateX(50%);" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header" style="color: #9b620d;">
    <strong class="mr-auto">Copied to clipboard!</strong>
  </div>
  <div class="toast-body"></div>
</div>
<!-- Toast end -->

</main>
</body>