<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
    
    </div>
  </div>
  <div>

  <li>
    <%= link_to root_path do %>
      <%= fa_icon "home" %> Home
    <% end %>
  </li>

    
  <li>
    <%= link_to [:about] do %>
      <%= fa_icon "id-card" %> About Us
    <% end %>
  </li>  
    

  <li>
    <%= link_to [:favorites] do %>
      <%= fa_icon "star" %> Favorites
    <% end %>
  </li>
   </div>
  
  <% if Current.user && Current.user.admin %>

    
    <p> Welcome Dark Master </p>
  
  <li>
    <%= link_to [:new_quote] do %>
      <%= fa_icon "pencil" %> Create Quote
    <% end %>
  </li> 
    
  <li>
    <%= link_to [:quotes_list] do %>
      <%= fa_icon "list" %> List Quotes
    <% end %>
  </li>  

  <% end %>


  <ul class="nav navbar-nav">
    <% if Current.user %>
      Logged in as: <%= Current.user.name %><br>
      <%= button_to "Sign Out", log_out_path, method: :get %>

      <% else %>
      
      <%= link_to "Sign up", sign_up_path %>
      <%= link_to "Sign In", sign_in_path %>
    <% end %>
  </ul>
  


</nav>