<%= javascript_include_tag('modal.js') %>

<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
    
    </div>
  </div>
  
  <section class="navbar-main">
    
    <div class="nav-left">
      <div>
        
        <%= link_to root_path do %>
          <%= fa_icon "home" %> Home
        <% end %>             
      
        <%= link_to [:about] do %>
          <%= fa_icon "id-card" %> About Us
        <% end %>      

        <%= link_to 'https://twitter.com/MiddleE23501801' do %>
          <%= fa_icon "twitter" %> 
        <% end %>
        
        <%= link_to 'https://www.instagram.com/middleearth013/' do %>
          <%= fa_icon "instagram" %> 
        <% end %>  
        
        <%= link_to 'https://www.youtube.com/channel/UCkDiXNTFKK72VV267kFbdxA' do %>
          <%= fa_icon "google" %> 
        <% end %>
      </div>
    </div>

    <div class="nav-admin">
      <% if Current.user && Current.user.admin %>

        <p style="color:red"> <b>Welcome Dark Master</b> </p>
      
        <%= link_to [:new_quote] do %>
          <%= fa_icon "pencil" %> Create Quote
        <% end %>

        <%= link_to [:quotes_list] do %>
          <%= fa_icon "pencil" %> Edit Quotes
        <% end %>         
        
      
      <% end %>   
    </div> 

    
      <div class="user-fav">

        <% if Current.user %>
        <p style="color:green">Logged in as: <b><%= Current.user.name %></b></p>

        <%= link_to [:quotes_list] do %>
          <%= fa_icon "list" %> List Quotes
        <% end %>

        
          
        <!-- Button trigger modal -->
        
        <button type="button" id="favoritesModal" class="btn bg-transparent"><%= fa_icon "star" %>  Favourites</button>
        
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Your Favourite Quotes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      </div>

          
      <div class="user-log">      
          
          <%= link_to "Sign Out", log_out_path, method: :get %>
          
          <% else %>
            
          <%= link_to "Sign up", sign_up_path %>
          <%= link_to "Sign In", sign_in_path %>
          <% end %>
      </div>  
    </div>

  </section>
  
</nav>