<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
    
    </div>
  </div>
  <div>
    <li><%= link_to("Home", root_path)%></li>
    <li><%= link_to 'About Us', [:about] %></li>
    <li><%= link_to 'Favourites',  [:favourites] %></li>
    <li><%= link_to 'Create Quote',  [:new_quote] %></li>
    <li><%= link_to 'List Quotes',  [:quotes_list] %></li>
  <div>



</nav>