<%= javascript_include_tag('modal.js') %>

<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
    
    </div>
  </div>
  
  <section class="navbar-main">
    
    <div class="nav-left">
      <div>
        
        <%= link_to root_path do %>
          <%= fa_icon "home" %> Home
        <% end %>             
      
        <%= link_to [:about] do %>
          <%= fa_icon "id-card" %> About Us
        <% end %>      

  <li>
    <%= link_to [:favorites] do %>
      <%= fa_icon "star" %> Favorites
    <% end %>
  </li>
  <li><%= link_to("Home", root_path)%></li>
    <li><%= link_to 'About Us', [:about] %></li>

<!-- Button trigger modal -->
<button type="button" id="favoritesModal" class="btn btn-primary"> Show Favourites</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Favourite Quotes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



    <div class="nav-admin">
      <% if Current.user && Current.user.admin %>

        <p style="color:red"> <b>Welcome Dark Master</b> </p>
      
        <%= link_to [:new_quote] do %>
          <%= fa_icon "pencil" %> Create Quote
        <% end %>

        <%= link_to [:quotes_list] do %>
          <%= fa_icon "pencil" %> Edit Quotes
        <% end %>         
        
      
      <% end %>   
    </div> 

    
      <div class="user-fav">

        <% if Current.user %>
        <p style="color:green">Logged in as: <b><%= Current.user.name %></b></p>

        <%= link_to [:quotes_list] do %>
          <%= fa_icon "list" %> List Quotes
        <% end %>

        
          
        <!-- Button trigger modal -->


          
      <div class="user-log">      
          
          <%= link_to "Sign Out", log_out_path, method: :get %>
          
          <% else %>
            
          <%= link_to "Sign up", sign_up_path %>
          <%= link_to "Sign In", sign_in_path %>
          <% end %>
      </div>  
    </div>

  </section>
  
</nav>